.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 90px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.1em;
}

.leftView {
  width: 35%;
  margin-bottom: 20px;
}

.rightView {
  width: 75%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.description {
  padding: 20px;
  text-align: justify;
}

.showInfoImg {
  width: 257px;
}

.episodesContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.episode {
  margin: 2px;
}
