.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 90px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.1em;
}

.leftView {
  width: 35%;
  margin-bottom: 20px;
}

.rightView {
  width: 75%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.description {
  padding: 20px;
  text-align: justify;
}

.showInfoImg {
  width: 257px;
  filter: drop-shadow(0px 0px 10px var(--shadow-color));
}

.episodesContainer {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episode {
  margin: 5px;
}
