.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background-color: var(--side-bar-color);

  color: white;
  z-index: 100;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 100%;
}

ul li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.2s;
  animation-name: fadein;
}

.closeButton {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
}

.closeButton:hover {
  cursor: pointer;
  color: #8e8e8e;
}

@keyframes fadein {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
